<ul class="media-list">
	<% @stores.each do |store| %>
	<li class="media" style="border-bottom: 1px solid #ccc">
      <a class="pull-left" href="/stores/<%=store.id%>">
		  <img src="<%=image_url("1.jpg")%>" width="64" height="64" class="img-rounded"/>
	  </a>
	  <div class="meida-body">
		    <h3 class="media-heading"><%= store.name%></h3>
		    <p><span class="glyphicon glyphicon-user"></span> 대기자 수: <strong>5명</strong> <span class="btn btn-success btn-default active pull-right">예약</span></p>
		    <p><span class="glyphicon glyphicon-phone-alt"></span> <%= store.tel %> | <span style="display:inline-block"><span class="glyphicon glyphicon-time" ></span> <%= store.open_time.to_s(:time)%> - <%=store.close_time.to_s(:time)%></span></p>
	  </div>
   </li>
    <% end %>
</ul>