<div class="modal fade" id="myTicketModal" tabindex="-1" role="dialog" aria-labelledby="myTicketModalLabel" aria-hidden="true">>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">번호표 발행</h4>
      </div>
	  <%= form_for(@ticket) do |f| %>
      <div class="modal-body">
		
		  <% if @ticket.errors.any? %>
		    <div id="error_explanation">
		      <h2><%= pluralize(@ticket.errors.count, "error") %> prohibited this ticket_machine from being saved:</h2>
		      <ul>
		      <% @ticket.errors.full_messages.each do |message| %>
		        <li><%= message %></li>
		      <% end %>
		      </ul>
		    </div>
		  <% end %>

 		  <div class="form-horizontal">
	  	  	 <%= f.hidden_field :user_id %>
		 	 <%= f.hidden_field :ticket_machine_id%>
			 <input type="hidden" id="store_id" name="store_id" value="<%=@machine.store_id%>">
			 
 		  	<div class="field form-group" id="ticket_phone_section">
 		   	 <%= f.label "핸드폰번호", :class=>"form-label col-sm-2"  %>
 		 		<div class="col-sm-10">
 		    		<input type="text" name="phone" class="form-control">
 				</div>
 		  	</div>
			 
		  	<div class="field form-group">
		   	 <%= f.label "동행자수", :class=>"form-label col-sm-2"  %>
		 		<div class="col-sm-10">
		    		<%= f.number_field :people_cnt, :class=>"form-control" %>
				</div>
		  	</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
        <%= f.submit "저장", class: "btn btn-primary" %>
      </div>
	 <% end %>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
